{% extends 'main/index.html' %}
{% block title %}user.username{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-sm p-4 rounded-4">
        <div class="row align-items-center">
            <div class="col-md-3 text-center">
                <img src="{{ user.avatar.url }}" class="rounded-circle img-fluid border" alt="Аватар"
                    style="width: 150px;">
            </div>
            <div class="col-md-9">
                <h2 class="mb-3">Привет, {{ user.username|default:user.email }}!</h2>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Дата регистрации:</strong> {{ user.date_joined|date:"d E Y, H:i" }}</p>

                <div class="mt-4">
                    <a href="{% url 'user_posts' user.url %}" class="btn btn-primary">Все посты</a>
                    <a href="#" class="btn btn-outline-primary me-2">Сменить пароль</a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger me-2">Выход</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}