{% extends 'main/index.html' %}

{% block title %}Thank you{% endblock %}

{% block header %}
{% include 'main/block/header.html' %}
{% endblock %}

{% block content %}
<section class="my-answer-block">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <p class="lead">Проверьте данные:</p>
            <p><strong>Имя:</strong> {{ contact.name }}</p>
            <p><strong>Email:</strong> {{ contact.email }}</p>
            <p><strong>Тема:</strong> {{ contact.title }}</p>
            <p><strong>Сообщение:</strong> {{ contact.message }}</p>
            <a href="{% url 'contacts' %}" class="btn btn btn-secondary">⬅ Назад к форме</a>
            <a href="{% url 'contacts_update' slug=contact.url %}" class="btn btn btn-warning">Change</a>
            <a href="{% url 'contacts_delete' slug=contact.url %}" class="btn btn-danger ms-auto">Delete</a>
        </div>
    </div>
</section>

{% endblock %}