{% extends 'main/index.html' %}

{% block title %}title{% endblock %}

{% block content %}
<section class="my-carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #343a40!important">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Написать мне</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-contact-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <!--    ЭТО ХЛЕБНЫЕ КРОШКИ -->
                <nav aria-label="breadcrumb" class="my-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'main' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Форма обратной связи</li>
                    </ol>
                </nav>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <p class="lead">Чтобы связаться со мной заполните форму обратной связи</p>
                        <form method="post" novalidate>
                            {% csrf_token %}

                            {% for field in form %}
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                                {% for error in field.errors %}
                                <div class="alert alert-danger py-1 px-2 my-error">{{ error }}</div>
                                {% endfor %}
                            </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-success">📩 Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}