{% load static %}

{% if user.is_authenticated %}
<div class="card my-4">
    <h5 class="card-header">Оставить комментарий:</h5>
    <div class="card-body">
        <form method="post" action="{% url 'comment_create' slug=post.url %}">
            {% csrf_token %}
            <div class="form-group mb-3">

                <textarea name="text" id="comment-text" rows="4" class="form-control rounded shadow-sm"
                    placeholder="Напишите что-нибудь..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Отправить</button>
        </form>
    </div>
</div>
{% else %}
<p><a href="{% url 'login' %}">Войдите</a>, чтобы оставить комментарий.</p>
{% endif %}


{% for comment in comments %}
<div class="d-flex mb-3 p-3 bg-light rounded shadow-sm">
    <div class="flex-shrink-0">
        <img class="rounded-circle img-fluid border" src="{{ comment.author.avatar.url }}" alt=""
            style="width: 150px; height: 150px;">
    </div>
    <div class="flex-grow-1 ms-3">
        <h5 class="mt-0">{{ comment.author.username }}</h5>
        <small class="text-muted">{{ comment.created_at|date:"d.m.Y H:i" }}</small>
        <p>{{ comment.text }}</p>
    </div>
    {% if comment.author == user %}
    <div class="mt-2">
        <a href="{% url 'comment_update' comment.pk %}" class="btn btn-sm btn-outline-primary">✏️ Изменить</a>
        <a href="{% url 'comment_delete' comment.pk %}" class="btn btn-sm btn-outline-danger">🗑️ Удалить</a>
    </div>
    {% endif %}
</div>
{% empty %}
<p>Пока нет комментариев.</p>
{% endfor %}