{% extends 'main/index.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
{% include 'main/block/slider.html' %}
{% endblock %}

{% block content %}
<section class="all-posts">
    <div class="container">
        <h1 class="my-4 text-center">Последние записи блога</h1>
        <div class="row">
            {% if query %}
            <h4 class="text-center mb-4">Результаты поиска по запросу: "{{ query }}"</h4>
            {% endif %}
            {% for post in posts %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{% url 'post_detail' post.pk %}">

                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Изображение поста" class="card-img-top">
                        {% else %}
                        <img src="{% static 'main/img/002.jpg' %}" alt="Заглушка изображения" class="card-img-top">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">{{ post.content|slice:":300" }}...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'post_detail' post.pk %}"
                                    class="btn btn-sm btn-outline-secondary">Подробнее</a>
                            </div>
                            <small class="text-muted">{{ post.created_at|date:"d.m.Y" }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-center">Нет постов для отображения.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include 'main/block/pagination.html' %}

{% endblock %}
{% block scripts %}
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock %}